# Ignore node_modules folders
node_modules
client/node_modules
server/node_modules

# Ignore build/output folders
dist
build

# Environment files
.env
client/.env
server/.env

# macOS/system junk
.DS_Store
